<a href="https://colab.research.google.com/github/MariaMagalhaes2005/python/blob/main/fundamentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# é usado para fazer comentarios

''' é usado para fazer um texto com mais de uma linha
exemplo '''

# **PRINT**

In [ ]:
# o print exibe as informaçoes como saida, exemplo:

print('ola mundo') #texto
print(100) #valor inteiro
print(99.9) #valor com decimais

# ou

print('ola mundo' , 100 , 99.9)

ola mundo
100
99.9
ola mundo 100 99.9

In [ ]:
# sep é usado para fazer separaçoes, exemplo:

print('maça' , 'banana' , 'uva' , sep= ' - ')

maça - banana - uva

In [ ]:
# \n serve para quebrar linhas, exemplo:

print('este é um texto grande, \n nao muito grande' )

# ou

print('este é um texto grande' , 'nao muito grande' , sep= ' \n')

este é um texto grande,
 nao muito grande
este é um texto grande
nao muito grande

In [ ]:
# %s pode ser usado como uma subistituiçao para os resultados, exemplo:

print('a pontuaçao de %s foi %s' % ('maria' , '10'))

# ou usando {}, exemplo:

print('a pontuaçao de {} foi {}' .format ('maria' , "10"))

a pontuaçao de maria foi 10
a pontuaçao de maria foi 10

# **ATIVIDADES** **DE** **METODO** **PRINT**

In [ ]:
# 1- REALIZE O PRINT DO SEU NOE COMPLETO, SUA IDADE E SUA ALTURA UTILIZANDO UM PRINT PARA CADA VALOR.

print('Maria Eduarda')
print(19)
print(1.67)

Maria Eduarda
19
1.67

In [ ]:
# 2- REALIZE O PRINT DO SEU NOME COMPLETO, SUA IDADE E SUA ALTURA UTILIZANDO APENAS UM PRINT PARA TODOS OS VALORES.

print('Maria Eduarda' , '19' , '1.67')

Maria Eduarda 19 1.67

In [ ]:
# 3- REALIZE O PRINT DE 3 NUMEROS DA SUA ESCOLHA EM UM MESMO PRINT, MAS SEPARADOS PELO CARACTERE '-'.

print('5' , '10' , '15' , sep= ' - ')

5 - 10 - 15

# **VARIAVEIS**

In [ ]:
# um espaço na memoria que pode guardar um valor de qualquer tipo e pode ser alterado durante o codigo, exemplo:

numero= 10 #o "numero" é um tipo de varialvel
nome= trix #"nome" é outro tipo de variavel

# **EXERCICIOS VARIAVEIS**

In [ ]:
# 1- CRIE UMA VARIAVEL DE CADA TIPO E PONHA ALGUM VALOR ESCOLHIDO, EM SEGUIDA, PRINTE TODOS ESSES VALORES

texto= 'isso é um texto'
inteiro= 10
flutuante= 99.9
print(texto)
print(inteiro)
print(flutuante)

isso é um texto
10
99.9

In [ ]:
# 2- CRIE VARIAVEIS PARA GURDAR SEU NOME,CPF E UMA QUE INDIQUE SE VOCE ESTA CASADO, EM SEGUIDA PRINTE ESSES VALORES SEPARADAMENTE, MAS N SE ESQUEÇA DE PRINTAR JUNTO O QUE ELES SIGNIFICAM

nome= 'trix'
CPF= '123.456.789-10'
casado= 'solteiro'
print('nome:', nome)
print('CPF:', CPF)
print('estado civil:', casado)

nome: trix
CPF: 123.456.789-10
estado civil: solteiro

# **FORMATAÇAO**

In [ ]:
# %s = texto
# %d = numeros inteiros
# %f = numeros quebrados

In [ ]:
num= 19
print('ela tem %d anos' % (num))

ela tem 19 anos

In [ ]:
# para reduzir um numero muito grande com ',' se usa '.algum numero'antes do 'f' dai so contara as casas que vc denominou, ex:
numero= 1.5226504
print('%.2f' %(numero))

1.52

# **EXERCICIOS DE FORMATAÇAO**

In [ ]:
# 1- ESCREVA E FORMATE A DATA EM QUE VOCE NASCEU NO FORMATO DIA/MES/ANO. QUE UMA VARIAVEL PARA CADA.

dia= 17
mes= 11
ano= 2005
print('eu nasci em %d/%d/%d.' %(dia, mes, ano))

eu nasci em 17/11/2005.

In [ ]:
# 2- ESCREVA E FORMATE A HORA E O MINUTO ATUAL.
hora= 21
minuto= 17
print('agora sao %d:%d.' %(hora, minuto))

agora sao 21:17.

In [ ]:
# 3- ESCREVA UM PROGRAMA QUE CONTENHA UM NUMERO PI, QUE DEVE TER O VALOR EXATO DE 3,141592653, AGORA FORMATE ESSE NUMERO PARA TER APENAS 2 CASAS DECIMAIS.

PI= 3.141592653
print('o valor de PI é: %.9f' %(PI))

PI= 3.141592653
print('o valor reduzido de PI é: %.2f' %(PI))

o valor de PI é: 3.141592653
o valor reduzido de PI é: 3.14

# **OPERADORES** **ARITIMETICOS**

In [ ]:
# nao é necessario criar uma variavel para operaçoes aritimeticas, ex:
96780
print(50 + 50)

# as operaçoes aritimeticas sao '+', '-', 'x' ou '%'

print(5+5) # soma
print(15-5) # subitraçao
print(5*2) # multiplicaçao
print(20/2) # divisao

# ou tambem pode ser feito com variaveis, ex:

soma= 50 + 50
print(soma)

100
10
10
10
10.0
100

In [ ]:
# na forma de divisao é possivel arredondar o numero, ex:

print(10/3) # vai sair quebrado
print(10//3) # vai sair um numero arredondado

# para elevar um numero se usa dois asteriscos, ex:

print(2**2)

# e a % indica se vai ter resto zero ou 1, ex:
print(4%2) # resto zero
print(4%3) # resto 1

3.3333333333333335
3
4
0
1

In [ ]:
# ordem de prioridade:
# 1- exponenciaçao ( ** )
# 2- multiplicaçao ( * )
# 3- divisao ( / )
# 4- resto ( % )
# 5- divisao inteira ( // )
# e por umtimo a soma (+) e subtraçao (-)
# ex:

calculo= 10 * 2 + 1
print(calculo) # vai contar primeiro a multiplicaçao e depois a soma
calculo_1= 10 * (1 + 2)
print(calculo_1) # vai contar primeiro o ()

21
30

# **EXERCICIOS ORDEM ARITIMETICA**

In [ ]:
# 1- CRIE DUAS VARIAVEIS, UMA RECEBE O ANO EM QUE ESTAMOS E A OUTRA O ANO QUE VOCE NASCEU. EM SEGUIDA SUBITRAIA PARA TER UMA ESTIMATIVA DE QUANTOS ANOS VOCE TEM.

ano_atual= 2025
ano_de_nascimento= 2005
print(ano_atual - ano_de_nascimento)

20

In [ ]:
# 2- CRIE A MEDIA DE 3 NUMEROS.

media= (3 + 3 + 3) / 3
print(media)

3.0

In [ ]:
# 3- CALCULE O IMC (KG DIVIDIDO PELA ALTURA (EM METROS) ELEVADO AO QUADRADO).

IMC= 50 // 1.67 ** 2
print(IMC)

17.0

In [ ]:
# 4- (DESAFIO) VOCE TEM UM DETERMINADO NUMERO DE OVOS DE PASCOA PARA DIVIDIR EM UM DETERMINADO NUMERO DE PESSOAS. DETERINE QUANTO OVOS FICARAM PARA CADA PESSOA E QUANTOS SOBRARAO.

ovos= 7
pessoas= 5
divisao= 7//5
print('tera', divisao, 'para cada pessoa')
resto= 7%5
print('restara', resto, 'ovos')

tera 1 para cada pessoa
restara 2 ovos

# **OPERADORES LOGICOS**

In [ ]:
# AND- sera verdadeiro se todos o valores envolvidos forem verdadeiros, se nao, sera falso.
# True e True= True
# True e False= False
# False e False= False

var1= True
var2= True
print(var1 and var2)
var1= True
var2= False
print(var1 and var2)
var1= False
var2= False
print(var1 and var2)


# OR- sera verdadeiro de pelo menos um dos valores for verdadeiro.
# true e true= true
# true e false= true
# false e false= false

var1= True
var2= True
print(var1 or var2)
var1= True
var2= False
print(var1 or var2)
var1= False
var2= False
print(var1 or var2)


# NOT- inverete os valores
# NOT(true)= false
# NOT(false)= true

# A prioridade sera NOT, AND, OR.

True
False
False
True
True
False

# **EXERCICOS OPERADORES LOGICOS**

In [ ]:
# 1- CRIE UM PROGRAMA QUE DIGA SE VOCE PRECISA IR NO MERCADO. VOCE PRECISA IR SE "FALTAR COMIDA" OU "SE FOR SABADO".

falta_comida= True
sabado= False
print('preciso ir no mercado?', falta_comida or sabado)

preciso ir no mercado? True

In [ ]:
# 2- CRIE UM PROGAMA QUE RESPONDA SE VOCE PODE ATRAVESSAR A RUA. PODE SE "O SINAL ESTIVER VERMELHO", "SE NAO VIER CARRO DA DIREIRA" E "NEM DA ESQUERDA".

sinal_vermelho= True
direita= True
esquerda= True
print('posso atravessar a rua?', sinal_vermelho and direita and esquerda)

posso atravessar a rua? True

In [ ]:
# 3- FAÇA O MESMO QUE A 2 POREM, APENAS SE O "SINAL TA VERMELHO" OU "TEM CARROS VINDO".

sinal= False
carro= False
print('posso passar?', sinal or not carro)

posso passar? True

# **TYPE E CASTING**

In [ ]:
# o TYPE mostrar qual tipo de variavel esta sendo ultilizada.

texto= 'ola mundo'
numero= 10
decimal= 9.9
booleano= True
print(type(texto))
print(type(numero))
print(type(decimal))
print(type(booleano))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
# o CASTING converte as variaveis.

texto1= '5'
texto2= '4.9'
num1= int(texto1)
num2= float(texto2)
print(num1 + num2)

# exemmplo 2.

num= 99.99999
num2=int(num)
print('a parte inteira de %f é: %d' % (num, num2))

#exemplo 3.

num= 12345
texto= str(num)
num_dig= len(texto) # LEN retorna o tamanho do texto
print("o numero %s tem %d digitos" % (num, num_dig))

9.9
a parte inteira de 99.999990 é: 99
o numero 12345 tem 5 digitos

# **EXERCICOS TYPE E CASTING**

In [ ]:
# 1- CRIE UM PROGRAMA QUE TENHA UMA VARIAVEL "STRING" CONTENDO UM NUMERO DE QUANTO VOCE TEM NO BANCO, EM SEGUIDA DESCONTE 1000 DESSE VALOR.

saldo= '8500'
inteiro= int(saldo)
sub= (inteiro - 1000)
print('seu valor no banco é %2s:' % (sub))

seu valor no banco é 7500:

In [ ]:
# 2- INDIQUE SE SEU SALDO BANCARIO ESTA ZERADO (VALOR LOGICO). DECLARE UMA VARIAVEL PARA GUARDAR SEU SALDO.

saldo= 0
zerado= not bool(saldo)
print('o saldo esta zerado?', zerado)

o saldo esta zerado? True

In [ ]:
# 3- CRIE UM PROGRAMA QUE CONTENHA SUA ALTURA, POREM DEVA MOSTRAR APENAS A PARTE INTEIRA.

altura= 1.67
inteira= int(altura)
print('tenho mais ou menos %d metro(s) de altura' % (inteira))

tenho mais ou menos 1 metro(s) de altura

# **INPUT**

In [ ]:
# o input guarda o valor do usuario

texto= input()
print(texto)

nome= input()
print('Eu me chamo %s' %(nome))

ola mundo
ola mundo
maria
Eu me chamo maria

In [ ]:
dia= input('digite o dia: ')
mes= input('digite o mes: ')
ano= input('digite o ano: ')
print("a data inserida foi: %s/%s/%s"2 % (dia, mes, ano))

digite o dia: 19
digite o mes: 05
digite o ano: 2025
a data inserida foi: 19/05/2025

In [ ]:
# o input pode ser usado tambem para ler valores logicos

texto= input('digite 1 para verdadeiros e 0 para falso: ')
valor= int(texto)
vf= bool(valor)
print('voce escolheu: %s' %(vf))

digite 1 para verdadeiros e 0 para falso: 0
voce escolheu: False

# **EXERCICIOS INPUT**

In [ ]:
# 1- CRIE UM PROGRAMA QUE LEIA POR INPUT 2 NUMEROS E REALIZE A DIVISAO DE AMBOS.

num1= input('digite um numero: ')
num2= input('digite um numero: ')
divisao= float(num1)/float(num2)
print('o resultado de %s dividido por %s e: %f ' % (num1, num2, divisao))

digite um numero: 10
digite um numero: 2
o resultado de 10 dividido por 2 e: 5

In [ ]:
# 2- CRIE UM PROGRAMA QUE MOSTRE O DIA, MES, ANO, HORA MINUTO E SEGUNDO.

dia= input('digite o dia: ')
mes= input('digite o mes: ')
ano= input('digite o ano: ')
print('a data inserida foi: %s/%s/%s' % (dia, mes, ano))

print('e sao:')

hora= input('digite a hora: ')
minuto= input('digite o minuto: ')
segundo= input('digite o segundo: ')
print('o horario exato e: %s:%s:%s' % (hora, minuto, segundo))

digite o dia: 17
digite o mes: 11
digite o ano: 2005
a data inserida foi: 17/11/2005
e sao:
digite a hora: 11
digite o minuto: 30
digite o segundo: 00
o horario exato e: 11:30:00

# **OPERADORES DE ATRIBUIÇAO E COMBINAÇAO DE OPERADORES LOGICOS**

In [2]:
numero= 1
numero= numero + 1
print(numero)

#ou

numero= 1
numero+= 1
print(numero)

2
2

In [4]:
# "==" serve para saber se os numeros sao os mesmos
numero= 20
booleana= (numero == 10)
print(booleana)

# "!=" serve para saber se os numeros sao diferentes
numero= 20
booleana= (numero != 10)
print(booleana)

False
True

In [6]:
num1= 10
num2= 20
maior= num1 < num2
print(maior)

num1= 10
num2= 10
maior= num1 <= num2
print(maior)

True
True

In [7]:
num= 5
boolean= num > 0 and num < 10
print(boolean)

True

# **EXERCICIOS ATRIBUIÇAO E COMBINAÇAO DE OPERADORES LOGICOS**

In [18]:
# 1- CRIE UM PROGRAMA QUE DIGA SE VOCE FOI APROVADO EM UMA PROVA, A MEDIA SERA DE 7

media= int(input('qual foi a sua media?: '))
boolean= (media >= 7)
print(boolean)

qual foi a sua media?: 5
False

In [20]:
# 2- CRIE UM PROGRAMA QUE DIGA DE A SENHA ESTA CORRETA

senha= int(input('digite a senha: '))
senha_correta= 1966
comparacao= senha == senha_correta
print(comparacao)

digite a senha: 1966
True

# **SLICING E STRINGS**

In [22]:
 # o uso dos [] indica qual letra vai ser selecionada (começando do 0)

texto= 'exemplo'
print(texto[0])
print(texto[1])
print(texto[2])
print(texto[3])
print(texto[4])
print(texto[5])
print(texto[6])

e
x
e
m
p
l
o

In [34]:
# o [] com separaçao de : indica de onde ate onde sera pego as letras.

texto= 'exemplo'
print(texto[3:5])
print(texto[3:])
print(texto[0:4])

# tambem tem na forma negativa.

texto= 'exemplo'
print(texto[-4])

# tambem é possivel inverter a palavra

texto= 'exemplo'
print(texto[::-1])

#tambem se pode atualizar a variavel

texto= '023'
texto= '1' + texto[1:]
print(texto)

#para remover um numero ou letra

texto= 'abcdefg'
texto= texto[:3] + texto[4:]
print(texto)

mp
mplo
exem
m
olpmexe
123
abcefg

In [36]:
# é possivel testar se existe uma letra em determinada palavra.

texto= 'programacao'
print('a' in texto)
print('e' in texto)
print('programa' in texto)
print('programa' not in texto)

True
False
True
False

In [37]:
# len é usado para mostrar o tamanho do texto.

tamanho= len(texto)
print(tamanho)

11

# **EXERCICIOS SLICING E STRING**

In [42]:
# 1- CRIE UMA UNICA STRING QUE CONTEM SEU NOME E SOBRENOME, DEPOIS CRIE UMA SLICING PARA SEPARALAS

nome_completo= 'maria magalhaes'
nome= nome_completo[:5]
sobrenome= nome_completo[5:]
print('nome:', nome)
print('sobrenome:', sobrenome)

nome: maria
sobrenome:  magalhaes

In [43]:
# 2- LEIA UMA STRING ATRAVES DO INPUT E RETIRE O ULTIMO CARACTER

texto= input('escreva uma palavra: ')
cortado= texto[:-1]
print(cortado)

escreva uma palavra: computador
computado

In [44]:
# 3- FAÇA UM PROGRAMA QUE LEIA UMA STRING ATRAVES DO INPUT E DIGA SE ELA POSSUI UMA VOGAL.

texto= input('digite uma palavra: ')
print('a' in texto)
print('e' in texto)
print('i' in texto)
print('o' in texto)
print('u' in texto)

digite uma palavra: computador
True
False
False
True
True

In [45]:
# 4- FAÇA UM PROGRAMA QUE INSIRA A PALAVRA "ABC" NA PRIMEIRA POSIÇAO DE UMA STRING LIDA POR INPUT

texto= input('digite uma palavra: ')
texto= 'abc' + texto[0:]
print(texto)

digite uma palavra: defg
abcdefg